---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Links from "../components/Links.astro";

const dataRequest = await fetch(import.meta.env.PUBLIC_DATA_URL);
const data = await dataRequest.json();
const gistUrl = data.files.linked.raw_url;

const linkedRequest = await fetch(gistUrl);
const linked = await linkedRequest.json();
const { user, links } = linked;
---

<Layout title={`Linked - ${user.name}`}>
  <main>
    <Profile {user} />
    <Links {links} />
  </main>
</Layout>

<style>
  main {
    @apply flex flex-col gap-4 items-center max-w-3xl w-11/12 p-3 mt-4;
  }
</style>
